.Statistics {
    display: flex;
    align-items: self-start;
    justify-content: center;

    .isolated {
        z-index: 1;
        transition: .5s;

        &.isolated_extra {
            transform: translateX(-339px);
            transition: .5s;
        }
    }

    .combined {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: .5s;
        .combined_outlet{
            z-index: -1;
        }

        &.combined_extra {
            transition: .5s;
            transform: translateX(244px);
            overflow-x: hidden;
            overscroll-behavior-x: contain;
        }
    }
}